body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* border: 6px solid rgb(255, 102, 0); */
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 10px;
    row-gap: 10px;
    font-family: 'Jua', sans-serif;
    /* padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px; */
    background: linear-gradient(0deg, black, rgb(56, 56, 56));
    position: relative;
}

.glow::before , .glow::after {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    background: linear-gradient(45deg , #e6fb04, #ff6600, #00ff66, #00ffff,
    #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff );
    background-size: 500%; 
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;
    animation-name: calcGlow;
    animation-duration: 20s; 
    animation-iteration-count: infinite;
}

@keyframes calcGlow {
    0% {
        background-position: 0 0;        
    }
    50% {
        background-position: 500% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(30px);
    /* opacity: 0.9; */

}

.btn {
    height: 45px;
    width: 64px;
    border-radius: 7.5px;
    border: 2.5px solid rgb(26, 5, 5);
    background: -webkit-gradient(linear,left 
    top,left bottom,color-stop(#7295b5,0),color-stop(#005081,0.47),
    color-stop(#147bb6,0.2),
    color-stop(#00abe5,0.6),color-stop(#02a8e4,1));
    background:-webkit-linear-gradient(top,#7295b5 0%,
    #005081 10%,#147bb6 40%,#00abe5 94%,#02a8e4 90%);
    background:-moz-linear-gradient(top,#7295b5 0%,
    #005081 10%,#147bb6 40%,#00abe5 94%,#02a8e4 90%);
    background:-o-linear-gradient(top,#7295b5 0%,
    #005081 10%,#147bb6 40%,#00abe5 94%,#02a8e4 90%);
    background:linear-gradient(top,#7295b5 0%,
    #005081 10%,#147bb6 40%,#00abe5 94%,#02a8e4 90%);
    color: rgb(255, 255, 255);
    font-family: 'Jua', sans-serif;
    text-align: center;
    display: block;
    transition: all 1.5s linear;
}

.btn::before {
    background:-webkit-gradient(linear,left bottom,left top,
    color-stop(rgba(255,255,255,0.9),0),
    color-stop(rgba(255,255,255,0),0.5));
    background:-webkit-linear-gradient(bottom,rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 50%);
	background:-moz-linear-gradient(bottom,rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 50%);
	background:-o-linear-gradient(bottom,rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 50%);
	background:linear-gradient(bottom,rgba(255,255,255,0.9) 0%,rgba(255,255,255,0) 50%);
    opacity:0.3;
}

.btn:hover {
	background:#9b0ff8;
}

#lastLine {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#calculate {
    align-self: stretch;
    padding: 12px;
    font-family: 'Jua', sans-serif;
    border: 3px solid #ffffff;
    border-radius: 4px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 5px;
    overflow: hidden;
    transition: .3s;
    display: block;
}

#calculate:hover {
    background-color: rgb(0, 0, 0);
    border-color: rgb(50, 70, 255);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

#calculate:active {
    background-color: white;
    color: black;
}


#topDisplay {
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    background-color: rgb(255, 251, 1);
    /* margin-bottom: -10px; */
    font-size: 12px;
}

#display {
    margin-top: 10px;
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    background-color: rgb(255, 251, 1);
    text-align: right;
    font-size: 34px;
}

#displayContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 251, 1);
    border: 3.5px solid rgb(255, 251, 1);
    border-radius: 6px;
    height: 75px;
    width: 264px;
    margin: 8px;
   
}

#firstLine, #secondLine, #thirdLine, #fourthLine, #fifthLine {
    display: flex;
    justify-content: space-around;
}

#addition, #subtraction, #multiplication {
    font-size: 16px;
    font-weight: 700;
}

#division, #period {
    font-size: 20px;
    font-weight: 700;
}

#botLine{
    height: 10px;
    background-color: black;
    width: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

