body {
    background-color: rgb(0, 88, 252);
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(166, 0, 172);
    margin-top: 50px;
    row-gap: 10px;
    font-family: 'Jua', sans-serif;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.btn {
    height: 45px;
    width: 45px;
    border-radius: 7.5px;
    border: 1.5px solid rgb(26, 5, 5);
    background-color: rgb(187, 219, 2);
    color: rgb(185, 0, 114);
    font-family: 'Jua', sans-serif;
}

#lastLine {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#calculate {
    align-self: stretch;
    padding: 12px;
    background-color: transparent;
    font-family: 'Jua', sans-serif;
    border: 2px solid rgb(56, 0, 28);
}

#topDisplay {
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    background-color: rgb(255, 251, 1);
    /* margin-bottom: -10px; */
    font-size: 12px;
}

#display {
    margin-top: 10px;
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    background-color: rgb(255, 251, 1);
    text-align: right;
    font-size: 34px;
}

#displayContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(255, 251, 1);
    height: 75px;
    width: 264px;
}

#firstLine, #secondLine, #thirdLine, #fourthLine, #fifthLine {
    display: flex;
    justify-content: space-around;
}

#addition, #subtraction, #multiplication {
    font-size: 16px;
    font-weight: 700;
}

#division, #period {
    font-size: 20px;
    font-weight: 700;
}